.nav{
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1104px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.header {
    height: 80px;
    width: 100%;
}

.logoLink {
    font: var(--font-ramabhadra);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    gap: 5px;
    height: 100%;
    box-sizing: padding-box;
    padding: 0 20px;
}

.menuLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0 82px;
    font-size: 20px;
    font-weight: 300;
    font-family: var(--font-roboto-flex);
    color: rgba(255,255,255,0.9);
    height: 100%;
    text-wrap: nowrap;
}

.menuLink {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuLink:hover{
    color: var(--pink);
}

.cart {
    position: relative;
}
