.wrapper {
    width: 850px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.prompterContainer {
    width: 100%;
}

.itemWithImage{
    width: 403px;
    height: 415px;
}
