.headText {
    margin-top: 48px;
    margin-bottom: 28px;
    color: var(--txt-black, rgba(0, 0, 0, 0.90));
    font-family: var(--font-montserrat);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}
