.colorPicker {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    align-items: center;
    width: 100%;
    color: white;
}

.colorEllipse {
    border-radius: 100%;
    width: 14px;
    height: 14px;
}

.picked {
    border: 1px white solid;
}
