.wrapper {
    width: 1008px;
    padding-bottom: 30px;
}

.itemCard{
    width: 500px;
    height: 484px;
}

.gridWrapper {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.headText {
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.price {
    font-family: var(--font-montserrat);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-top: 28px;
}

.addToCardBlock {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 32px;
}

.accordions {
    margin-top: 48px;
    width: 500px;
}

.accordionTable {
    width: 100%;
    text-align: left;
}

.accordionTable th {
    font-weight: 500;
}
