.accordeon {
    padding: 20px 0;
    width: 100%;
    font-family: var(--font-montserrat);
}

.content {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
