@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right   top;
    }
    100% {
        background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
    }
}

.loading {
    background: linear-gradient(90deg, #000 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%) ;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 1px, 16px 1px, 1px 16px, 1px 16px;
    background-position: left top, right bottom, left bottom, right   top;
    transition: background-position 2s;
    animation: border-dance 1s infinite linear;
    border: 0 !important;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    gap: 10px;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 18px;
    user-select: none;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.buttonLarge {
    padding: 16px 32px;
}

.buttonMedium {
    padding: 10px 23px;
}

.buttonSmall {
    padding: 5px 12.5px;
}

.buttonWhite {
    color: var(--txt-black);
    background-color: #fff;
    border: 1px solid var(--txt-black, rgba(0, 0, 0, 0.90));
}

.buttonBlack {
    background-color: var(--txt-black);
    color: #FFF;
}

.buttonBlack:hover:enabled {
    color: var(--pink);
}

.buttonWhite:hover:enabled {
    color: var(--pink);
}


