.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    gap: 10px;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 20px;
}

.buttonMedium {
    padding: 10px 20px;
}

.buttonSmall {
    padding: 5px 12.5px;
}

.buttonWhite {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.buttonBlack {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.buttonBlack:hover {
    background-color: var(--primary-color-hover);
    color: var(--bg-color-hover);
}

.buttonWhite:hover {
    background-color: var(--bg-color-hover);
    color: var(--primary-color-hover);
}
