.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    gap: 10px;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 18px;
}

.buttonLarge {
    padding: 10px 32px;
}

.buttonMedium {
    padding: 10px 23px;
}

.buttonSmall {
    padding: 5px 12.5px;
}

.buttonWhite {
    background: #FFF;
    color: var(--txt-black);
    border: 1px solid var(--txt-black, rgba(0, 0, 0, 0.90));
}

.buttonBlack {
    background-color: var(--txt-black);
    color: #FFF;
}

.buttonBlack:hover {
    color: var(--pink);
}

.buttonWhite:hover {
    color: var(--pink);
}
