.afterPromptText {
    color: rgba(35, 0, 80, 0.7);
    font-family: var(--font-montserrat);
    font-size: 17px;
    margin-bottom: 120px;
}

.prompterContainer{
    width: 760px;
    margin: 30px 0;
}
