.wrapper {
    font-family: var(--font-montserrat);
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 100px;
}

.notfound {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.catalogMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.catalogMain:nth-child(4) {
    grid-column: 2 / 3;
    padding: 100px;
    width: 100%;
}

.header {
    width: 100%;
    margin-bottom: 20px;
}
