.mainTextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-size: clamp(20px, 4vw, 48px);
    font-family: var(--font-montserrat);
    font-weight: 700;
    gap: 20px;
    margin-top: 148px;
    margin-bottom: 50px;
    text-wrap: nowrap;
}

.rotatedWord {
    transform: rotate(-1.5deg);
    background-color: #FF83C6;
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-flex;
    font-weight: 600;
}

.underline1 {
    display: inline-block;
    position: relative;
}

.underline1:after {
    display: block;
    background: url("/figures/underline1.svg") no-repeat;
    width: 5em;
    height: 1em;
    position: absolute;
    top: 1.3em;
    content: "";
}

.underline2 {
    display: inline-block;
    position: relative;
}

.underline2:after {
    display: block;
    background: url("/figures/underline2.svg") no-repeat;
    width: 7.5em;
    height: 1em;
    position: absolute;
    top: 1.3em;
    content: "";
    left: -0.2em;
}
